.loading-container {
  align-items: center;
  background-color: rgb(0 0 0 / 50%);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 5000;
}

.loading-spinner {
  animation: spin 1.2s linear infinite;
  border: 8px solid;
  border-color: #000 transparent #555;
  border-radius: 50%;
  height: 64px;
  width: 64px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}
