.location-card {
  display: block;
  height: 28rem;
  width: 20rem;

  .map-tile {
    display: block;
    height: 20rem;
    width: 100%;

    .map-tile-container {
      height: 100%;
      width: 100%;
    }
  }
}
