.table {
  border: 1px solid #e3e9ef;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgb(0 0 0 / 25%);
  font-size: 16px;
  padding: 24px;
  width: 100%;
}

.headerRow,
.bodyRow {
  align-items: center;
  cursor: pointer;
  display: grid;
  font-size: 14px;
  font-style: normal;
  grid-column-gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  justify-items: start;
  overflow-wrap: break-word;

  td {
    height: 48px;
    padding: 8px;
  }

  i {
    font-style: normal;
  }
}

.headerRow {
  th {
    color: #5e7487;
    font-weight: normal;
    height: 48px;
    padding: 8px;
    text-align: center;
  }
}
