.deliveryForm {
  align-items: center;
  background: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgb(0 0 0 / 25%);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  margin: 0 20px;
  max-width: 800px;
  min-width: 360px;
  padding: 2rem;
  width: 100%;
}

.header {
  text-align: center;
  width: 100%;
}

.formData {
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 100%;
}

.formControl {
  margin: 8px;
  max-width: 100%;
}

.button {
  height: 56px;
}
