.form-group {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px rgb(0 0 0 / 25%);
  margin: 10rem auto 0;
  max-width: 26rem;
  padding: 2rem;

  h2 {
    color: #000;
    font-size: 2rem;
    font-weight: 300;
    margin: 1rem auto;
    text-align: center;
  }

  .form-data {
    align-items: center;
    background: #fff;
    display: flex;
    flex-direction: column;
    margin: 2rem auto 0;
    max-width: 25rem;
  }

  .submit {
    height: 3.125rem;
  }

  .signin-section,
  .signup-section {
    align-items: center;
    color: #000;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    margin: 1rem auto 0;
    width: 100%;

    a {
      background-color: transparent;
      border: transparent;
      color: #1da1f9;
      font-weight: 600;
      margin-left: 0.5rem;
      text-decoration: none;

      &:hover {
        color: #0d6efd;
        text-decoration: underline;
      }
    }
  }
}

.main {
  margin: 0 auto;
  max-width: 1600px;

  .banner {
    background-image: url('../assets/louis-droege-unsplash.jpg');
    background-size: cover;
    height: 800px;
    width: 100%;
  }

  .content {
    margin: 1rem auto 0;
    padding: 1rem 4rem;
  }

  .header {
    font-size: 1.75rem;
    font-weight: normal;
    margin: 0;
    padding: 0 4rem;
  }

  .content-header {
    padding: 0;
  }

  .articles {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
    padding: 1rem 0 2rem;

    .map-cards {
      align-items: center;
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: center;

      .map-card {
        margin: 1rem;
      }
    }
  }
}
