.form-group {
  background: #FFFFFF;
  margin: 10rem auto 0;
  width: 26rem;
  padding: 2rem;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  h2 {
    margin: 1rem auto;
    text-align: center;
    font-size: 2rem;
    font-weight:300;
    color: #000000;
  }
  .form-data {
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto 0;
    background: #FFFFFF;
  }
  .submit {
    height: 3.125rem;
  }
  
  .signin-section, .signup-section {
    margin: 1rem auto 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 1rem;
    a {
      border: transparent;
      background-color: transparent;
      margin-left: 0.5rem;
      text-decoration: none;
      color: #1DA1F9;
      font-weight: 600;
      &:hover {
        text-decoration: underline;
        color: #0d6efd;
      }
    }
  }
}

.main {
  .banner {
    width: 100%;
    height: 800px;
    background-image: url('../assets/louis-droege-unsplash.jpg');
    background-size: cover;
  }

  .content {
    margin: 1rem auto;
    padding: 1rem 4rem;
  }

  .articles {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 4rem;
    padding: 1rem 0 2rem;
    .map-cards {
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      .map-card {
        margin: 1rem;
      }
    }
  }
}
