body {
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

html {
  background-color: #f6f8fa;
  margin: 0;
  padding: 0;
}

.app {
  background-color: #f6f8fa;
}
